<p>Hello there,</p>

<p>A regra de automação <b>{{meta['rule_name']}}</b> foi desativada porque tem condições inválidas.</p>
<p>Isso geralmente acontece quando você exclui atributos personalizados que ainda estão sendo usados ​​nas regras de automação.</p>

<p>
Clique <a href="{{action_url}}">aqui</a> para atualizar as condições.
</p>
