<p>Olá,</p>

<p>Falha na importação de contatos. Parece que o arquivo CSV que você enviou pode não ser válido. Solicitamos que você revise o arquivo e verifique se ele está em conformidade com o formato exigido.<p/>